:where(.css-dev-only-do-not-override-dkbvqv).ant-space {
    display: inline-flex;
    width: 100%;
}

.ant-space-item {
    width: 100% !important;
}

.ant-select {
    width: 100%;
    height: 35px;
}


.food-type-container {
    padding: 20px;
  }
  
  .package-container {
    margin-bottom: 40px;
  }
  
  .package-section {
    margin-top: 20px;
  }
  
  .package-section h3 {
    margin-bottom: 10px;
  }
  